article.controls {
    max-width: 9rem;
    padding-left: 1rem;
    padding-top: 1rem;
}

div.controls {
    padding-left: 0rem;
    padding-right: 0rem;
}

.controls h1 {
}

.controls ul {
    padding-left: 0rem;
    list-style-type: none;
}

.controls li {
    background: #bed3e2;
    width: 8rem;
    height: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-style: groove;
    border-left-color: #3a4960;
    border-bottom-color: #4a5970;
    border-top-color: #9eb3c2;
    border-right-color: #aec3d2;
}

.controls a {
    margin-left: 1rem;
    text-decoration: none;
    color: #091526;

}
/* ================================== */
/* ====== START of NEWS CONTENT ===== */
.news {
    min-width: 12rem;
    min-margin-left: 1rem;
    min-margin-right: 1rem;
    margin-left: 20%;
    margin-right: 20%;
}

.news p {
    color: #3a4960;
}

.attribute-title-column p {
    color: #161c26;
}

.news-header {
    text-align: center;
}

/* ---- Left column content ---- */

.text-column {
    float: left;
    width: 50%;
    min-width: 14rem;
}

.attribute-title-column {
    float: left;
    width: 15%;
    min-width: 5rem;
}

.attribute-title-column p {
    text-transform: uppercase;
    font-weight: bold;
}

.attribute-value-column {
    float: left;
    width: 50%;
}

/* ---- START of Right column content ---- */
.img-column {
    float: left;
    width: 50%;
}

.img-and-text {
    text-align: justify;
    width: 10rem;
}

.img-and-text-center {
    margin: auto;
    text-align: center;
    width: 10rem;
}

.img-and-text-center img {
    margin: auto;
}

.img-and-text p {
    text-align: center;
    font-style: italic;
}

.img-and-text img {
    display: block;
    margin: 0 auto;
}
/* ---- END of Right column content  ---- */

.misc-info {
    display: inline-block;
}

.misc-info h2 {
    color: #161c26;
}

.news:after {
    content: "";
    display: table;
    clear: both;
}
/* ====== END of NEWS CONTENT ===== */
/* ================================ */

/* ------ START additional form ----- */

.ship-article h3 {
    margin-top: 1rem;
}

.ship-header {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 5.1rem;
}

.form-ship-class {
    display: none;
}

.show-ship-class:hover> .form-ship-class {
    display: block;
}

.form-nation {
    display: none;
}

.show-nation:hover> .form-nation {
    display: block;
}

.form-group {
    min-width: 15rem;
    height: 3rem;
    margin-left: 1rem;
    display: inline-block;
}

.form-left-column {
    min-width: 4rem;
    display: inline-block;
    text-align: right;
}

.form-right-column {
    display: inline-block;

}

.form-group-pair {
    display: inline-block;
}

.lister {
    background-color: lightgrey;
}

.submit {
    margin-left: 5.3rem;
}


/* ------ END additional form ----- */

a {
    font-weight: bold;
    text-decoration: none;
    color: #091526;

}

ul {
    list-style-type: none;
}

legend {
    font-style: italic;
}