<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/css/minerva.css}" />
    <link rel="stylesheet" th:href="@{/css/shipstorm.css}" />
    <title>SHIPSTORM - femtearenan.se</title>
</head>
<body>
    <div id="wrapper">
        <div th:include="/fragments/header :: header(page='ship')">
        </div>

        <!-- CONTENT -->
        <main>
            <article class="news">
                <h1>Edit ship</h1>
                <form th:object="${generateShip}" th:action="@{edit-ship}" method="post">
                    <fieldset>
                        <legend>Edit ship and its components</legend>
                        <ul>
                            <li><label>Name</label>
                            <input type="text" th:value="${ship.name}"/></li>

                            <li><label>Pennant</label>
                            <input type="text" th:value="${ship.pennant}"/></li>

                            <fieldset>
                                <legend>Ship class</legend>
                                <li><label>Class name</label>
                                <input type="text" th:value="${ship.shipClass.name}"></li>
                                <li><label>Class type</label>
                                    <select>
                                        <option th:each="type : ${types}" th:text="${type}" th:selected="${ship.shipClass.type == type}"></option>
                                    </select>
                                </li>
                            </fieldset>

                            <fieldset>
                                <legend>Nation</legend>
                                <li><label>Nation name</label>
                                    <select id="nation-list">
                                        <option th:each="nation : ${nations}" th:text="${nation.name}" th:selected="${ship.nation.name == nation.name}"></option>
                                    </select>
                                </li>
                            </fieldset>

                            <fieldset>
                                <legend>Image</legend>
                                <div class="img-and-text">
                                    <div th:if="${images.size() > 0}">
                                        <div th:each="image : ${images.keySet()}">
                                            <div th:if="${image.length() > 0}">
                                                <div class="img-and-text-center">
                                                    <img class="loggo"  th:src="@{'data:image/jpeg;base64,'+${image}}" alt="Simplistic depiction of a sail boat" />
                                                    <label>Description</label><input type="text" th:value="${images.get(image)}" />
                                                    <label>Remove image</label><input type="checkbox" name="removeImage" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>Miscellaneous information</legend>
                                <input type="text" th:text="${ship.miscInfo}"/>
                            </fieldset>
                        </ul>
                    </fieldset>
                </form>
            </article>
        </main>

        <!-- FOOTER -->
        <footer>
            <div class="divider"></div>
            <div id="footer-content">
                <ul>
                    <li>Back to <a href="http://femtearenan.se">femtearenan.se</a></li>
                    <li>&copy;2018</li>
                </ul>
                <p> </p>
            </div>
        </footer>
    </div>
</body>
</html>