<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/css/minerva.css}" />
    <link rel="stylesheet" th:href="@{/css/shipstorm.css}" />
    <title>SHIPSTORM - femtearenan.se</title>
</head>
<body>
<div id="wrapper">

    <!-- HEADER -->
    <header>
        <nav>
            <img class="loggo" th:src="@{/images/shipstorm.png}" />
            <ul>
                <li><a id="start"  href="#">start</a></li>
                <li><a id="artiklar" href="#">View ships</a></li>
                <li><a id="app" href="#">Search for ship</a></li>
                <li class="active"><a id="add" href="#">Add a ship</a></li>
            </ul>
        </nav>
    </header>

    <div class="divider"></div>
    <h1 id="homepage"><span id="color-femte">s h i p</span> <span id="color-arenan">s t o r m</span>
        <span id="spanfill"></span></h1>
    <div class="divider"></div>

    <!-- CONTENT -->
    <main>
        <article class="ship-artice">
            <div class="ship-header">
                <h1>Add ship</h1>
            </div>
            <div class="ship">
                <form th:object="${generateShip}" th:action="@{add-ship}" method="post">
                    <input type="hidden" th:field="*{id}"/>

                    <div class="form-group-pair">
                        <div class="form-group">
                            <div class="form-left-column">
                                <label>Name</label>
                            </div>
                            <div class="form-right-column">
                                <input type="text" th:field="*{name}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-left-column">
                                <label>Pennant</label>
                            </div>
                            <div class="form-right-column">
                                <input type="text" th:field="*{pennant}" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group-pair">
                        <div class="form-group">
                            <div class="form-left-column">
                                <label>Class</label>
                            </div>
                            <div class="form-right-column">
                                <input class="lister" list="ship-classes-list" th:field="*{shipClassId}"/>
                                <datalist id="ship-classes-list">
                                    <option th:each="shipClass : ${classes}" th:value="${shipClass.id}" th:text="${shipClass.name}">Example</option>
                                </datalist>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-left-column">
                                <label>Nation</label>
                            </div>
                            <div class="form-right-column">
                                <input class="lister" list="nations-list" th:field="*{nationId}"/>
                                <datalist id="nations-list" th:each="nation :  ${nations}">
                                    <option th:value="${nation.id}" th:text="${nation.name}">Example</option>
                                </datalist>
                            </div>
                        </div>
                    </div>

                    <div class="submit">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </form>

                <!-- ================== SHIP CLASS FORM ================== -->
                <div class="show-ship-class"><h3>Add a ship class</h3>
                    <form class="form-ship-class" th:object="${shipClass}" th:action="@{add-class}" method="post">
                        <input type="hidden" th:field="*{id}"/>

                        <div class="form-group">
                            <div class="form-left-column">
                                <label>Class</label>
                            </div>
                            <div class="form-right-column">
                                <input type="text" th:field="*{name}" />
                            </div>
                        </div>

                        <div class="submit">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </form>
                </div>

                <!-- ================== NATIONS FORM ================== -->
                <div class="show-nation"><h3>Add a nation</h3>
                    <form class="form-nation" th:object="${nation}" th:action="@{add-nation}" method="post">
                        <input type="hidden" th:field="*{id}"/>

                        <div class="form-group">
                            <div class="form-left-column">
                                <label>Nation</label>
                            </div>
                            <div class="form-right-column">
                                <input type="text" th:field="*{name}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-left-column">
                                <label>Abbreviation</label>
                            </div>
                            <div class="form-right-column">
                                <input type="text" th:field="*{abbreviation}" />
                            </div>
                        </div>

                        <div class="submit">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- ================== End of forms ================== -->

                <div class="divider"></div>
            </div>
        </article>
    </main>

    <!-- FOOTER -->
    <footer>
        <div class="divider"></div>
        <div id="footer-content">
            <ul>
                <li>Back to <a href="http://femtearenan.se">femtearenan.se</a></li>
                <li>&copy;2018</li>
            </ul>
            <p> </p>
        </div>
    </footer>
</div>
</body>
</html>