<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/css/minerva.css}" />
    <link rel="stylesheet" th:href="@{/css/shipstorm.css}" />
    <title>SHIPSTORM - femtearenan.se</title>
</head>
<body>
<div id="wrapper">

    <div th:replace="/fragments/header :: header(page='add')">
    <!-- HEADER -->
        <header>
            <nav>
                <img class="loggo" th:src="@{/images/shipstorm.png}" />
                <ul>
                    <li><a id="start"  th:href="@{/shipstorm}">start</a></li>
                    <li><a id="artiklar" th:href="@{/shipstorm/ships}">View ships</a></li>
                    <li><a id="app" th:href="@{/shipstorm/search}">Search for ship</a></li>
                    <li class="active"><a id="add" href="#">Add a ship</a></li>
                </ul>
            </nav>
        </header>

        <div class="divider"></div>
        <h1 id="homepage"><span id="color-femte">s h i p</span> <span id="color-arenan">s t o r m</span>
            <span id="spanfill"></span></h1>
        <div class="divider"></div>
    </div>

    <!-- CONTENT -->
    <main>
        <article class="ship-article">
            <div class="ship">
                <fieldset> <legend>Add components</legend>

                    <!-- ================== SHIP FORM ================== -->
                    <fieldset> <legend>Ship</legend>
                        <form th:object="${generateShip}" th:action="@{add-ship}" method="post">
                            <input shipType="hidden" th:field="*{id}"/>

                            <div class="form-group-pair">
                                <div class="form-group">
                                    <div class="form-left-column">
                                        <label>Name</label>
                                    </div>
                                    <div class="form-right-column">
                                        <input shipType="text" th:field="*{name}" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="form-left-column">
                                        <label>Pennant</label>
                                    </div>
                                    <div class="form-right-column">
                                        <input shipType="text" th:field="*{pennant}" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group-pair">
                                <div class="form-group">
                                    <div class="form-left-column">
                                        <label>Class</label>
                                    </div>
                                    <div class="form-right-column">
                                        <select id="ship-classes-list" th:field="*{shipClassId}">
                                            <option th:each="shipClass : ${classes}" th:value="${shipClass.id}" th:text="${shipClass.name}">Example</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="form-left-column">
                                        <label>Nation</label>
                                    </div>
                                    <div class="form-right-column">
                                        <select id="nations-list" th:field="*{nationId}">
                                            <option th:each="nation :  ${nations}" th:value="${nation.id}" th:text="${nation.name}">Example</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="submit">
                                <button shipType="submit" class="btn btn-default">Submit</button>
                            </div>
                        </form>
                    </fieldset>

                    <!-- ================== SHIP CLASS FORM ================== -->
                    <fieldset><legend>Ship Class</legend>
                        <div class="show-ship-class">
                            <form class="form-ship-class" th:object="${shipClass}" th:action="@{add-class}" method="post">
                                <input shipType="hidden" th:field="*{id}"/>

                                <div class="form-group">
                                    <div class="form-left-column">
                                        <label>Class</label>
                                    </div>
                                    <div class="form-right-column">
                                        <input shipType="text" th:field="*{name}" />
                                    </div>
                                    <input class="lister" list="shipType-list" th:field="*{shipType}" />
                                    <datalist id="shipType-list">
                                        <option th:each="shipType : ${types}" th:text="${shipType}"></option>
                                    </datalist>
                                </div>

                                <div class="submit">
                                    <button shipType="submit" class="btn btn-default">Submit</button>
                                </div>
                            </form>
                        </div>
                    </fieldset>

                    <!-- ================== NATIONS FORM ================== -->
                    <div class="show-nation"><h2>Add a nation</h2>
                        <form class="form-nation" th:object="${nation}" th:action="@{add-nation}" method="post">
                            <input shipType="hidden" th:field="*{id}"/>

                            <div class="form-group">
                                <div class="form-left-column">
                                    <label>Nation</label>
                                </div>
                                <div class="form-right-column">
                                    <input shipType="text" th:field="*{name}" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-left-column">
                                    <label>Abbreviation</label>
                                </div>
                                <div class="form-right-column">
                                    <input shipType="text" th:field="*{abbreviation}" />
                                </div>
                            </div>

                            <div class="submit">
                                <button shipType="submit" class="btn btn-default">Submit</button>
                            </div>
                        </form>
                    </div>
                </fieldset>
                <!-- ================== End of forms ================== -->

                <div class="divider"></div>
            </div>
        </article>
    </main>

    <!-- FOOTER -->
    <footer>
        <div class="divider"></div>
        <div id="footer-content">
            <ul>
                <li>Back to <a href="http://femtearenan.se">femtearenan.se</a></li>
                <li>&copy;2018</li>
            </ul>
            <p> </p>
        </div>
    </footer>
</div>
</body>
</html>